/**
 * Paste the following CSS into your child theme style.css file or custom CSS tool
 */

.vendd-download-information .vendd-price-button-container {
	position: static;
	display: block;
	border-top: none;
	box-shadow: none;
}
.vendd-download-information .product-link {
	display: none;
}